# Ignore files
/*.autosave
/*.log
/pkt*.dat
/startsg.local
/.Xil/
/ModelUpgradeStatus.htm
/SysgenFeatureReport.htm
/slprj/

# Ignore all files in auto_vzmac_core directory
/auto_vzmac_core/*
# Then UN-ignore auto_vzmac_core/auto_vzmac_core.dcp
!/auto_vzmac_core/auto_vzmac_core.dcp

# Ignore all files in cross_vzmac_core directory
/cross_vzmac_core/*
# Then UN-ignore cross_vzmac_core/cross_vzmac_core.dcp
!/cross_vzmac_core/cross_vzmac_core.dcp

# Ignore all files in fft_core directory
/fft_core/*
# Then UN-ignore fft_core/fft_core.dcp
!/fft_core/fft_core.dcp

# Ignore all files in pfb_fir_core directory
/pfb_fir_core/*
# Then UN-ignore pfb_fir_core/pfb_fir_core.dcp
!/pfb_fir_core/pfb_fir_core.dcp

# Ignore all files in s6 directory...
/s6/*
# ...then UN-ignore s6/bit_files directory...
!/s6/bit_files
!/s6/outputs
# ...then ignore all files in s6/bit_files directory...
/s6/bit_files/*
/s6/outputs/*
# ...then UN-ignore s6/bit_files/*.bof.gz files.
!/s6/bit_files/*.bof.gz
!/s6/outputs/*.bof
# ...also UN-ignore all files in s6/ucf
!/s6/ucf
